#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define U_TAPPING_TERM 200

&mt {
    tapping-term-ms = <130>;
    quick-tap-ms = <100>;
    flavor = "balanced";
};

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        LeftClickRight {
            bindings = <&mkp LCLK>;
            key-positions = <20 21>;
            slow-release;
            timeout-ms = <50>;
        };

        RightClickRight {
            bindings = <&mkp RCLK>;
            key-positions = <33 32>;
            slow-release;
            timeout-ms = <50>;
        };

        MiddleClickRight {
            bindings = <&mkp MCLK>;
            key-positions = <8 9>;
            slow-release;
            timeout-ms = <50>;
        };

        ParaLeft {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <7 8>;
            slow-release;
            timeout-ms = <50>;
        };

        ParaRight {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <9 10>;
            slow-release;
            timeout-ms = <50>;
        };

        BrakLeft {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
            slow-release;
            timeout-ms = <50>;
        };

        BrakRight {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 34>;
            slow-release;
            timeout-ms = <50>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20>;
            slow-release;
            timeout-ms = <50>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <13 14>;
            slow-release;
            timeout-ms = <50>;
        };

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            slow-release;
            timeout-ms = <50>;
        };

        Quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <21 22>;
            slow-release;
            timeout-ms = <50>;
        };

        Ctrl_A {
            bindings = <&kp LC(A)>;
            key-positions = <27 13>;
            slow-release;
            timeout-ms = <50>;
        };

        Ctrl_Z {
            bindings = <&kp LC(Z)>;
            key-positions = <27 25>;
            slow-release;
            timeout-ms = <50>;
        };

        MouseScrollUp {
            bindings = <&msc SCRL_UP>;
            key-positions = <14 15>;
            timeout-ms = <50>;
            slow-release;
        };

        MouseScrollDown {
            bindings = <&msc SCRL_DOWN>;
            key-positions = <2 3>;
            timeout-ms = <50>;
            slow-release;
        };
    };

    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "u_mt";
            #binding-cells = <2>;
            tapping_term_ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "u_lt";
            #binding-cells = <2>;
            tapping_term_ms = <U_TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        Shift_Enter: Shift_Enter {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_ENTER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <40>;
            tapping-term-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp TAB    &kp Q        &kp W  &kp E  &kp R      &kp T        &kp Y     &kp U        &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &mt LCTRL A  &kp S  &kp D  &kp F      &kp G        &kp H     &kp J        &kp K      &kp L    &kp SEMI  &kp APOS
&trans     &kp Z        &kp X  &kp C  &kp V      &kp B        &kp N     &kp M        &kp COMMA  &kp DOT  &kp FSLH  &trans
                               &mo 1  &kp SPACE  &kp RSHFT    &kp RALT  &lt 2 SPACE
            >;
        };

        NAV {
            bindings = <
&kp ESCAPE  &trans  &trans    &kp UP_ARROW  &trans     &kp CLCK    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &out OUT_TOG   &trans
&mo 4       &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans      &kp GRAVE          &kp INS          &kp HOME              &kp PAGE_UP           &kp BACKSPACE  &trans
&trans      &trans  &trans    &trans        &trans     &trans      &kp BACKSLASH      &kp DELETE       &kp END               &kp PAGE_DOWN         &trans         &trans
                              &trans        &kp LCTRL  &trans      &kp RIGHT_GUI      &mo 3
            >;
        };

        SYMNUM {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9     &kp N0     &kp DEL
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &mo 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &kp DOT    &trans     &trans
                        &mo 3   &trans  &trans    &trans  &trans
            >;
        };

        FUN {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5            &kp F6  &kp F7  &kp F8  &kp F9   &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &kp F11  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans            &trans  &trans
            >;
        };

        BL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &bootloader    &bootloader  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &sys_reset     &sys_reset   &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans         &trans       &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans         &trans       &trans
            >;
        };
    };
};
